//=======================
// Base
//=======================
// Add whichever you need or, preferably, just copy the code from those files. Especially the breakpoints and helper variables
// @require 'base/reset'
@require 'base/variables'
@require 'base/helpers'
@require 'base/colors'
// @require 'base/layout'
// @require 'base/unicode'
@require 'base/fonts'

//=======================
// Fonts
//=======================
// See base/fonts for full listing
// If you need set-font, make sure to include the base/fonts file
// Note all projects require Benton Bold and Miller-Regular so don't change em

// Just set these classes in the HTML

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.source-and-credit
  clear both
  width 100%
  overflow hidden
  margin-top 1em

  p
    line-height 1.6
    padding 0
    margin 0
    font-size 12px
    text-align left
    float none

  .source span
    font-weight normal
    +mq('bp-2')
      float left

  .credit span
    text-transform uppercase
    +mq('bp-2')
      text-align right
      float right

.graphic
  &__text
    margin .5rem 0

    &--hed
      font-weight bold
      font-family 'Montserrat', Helvetica, sans-serif
      +mq('bp-2')
        font-size 1.3rem

    &--subhed
      font-size .9rem
      +mq('bp-2')
        font-size 1rem
        margin-bottom 1rem

    .table__container
      font-family Helvetica

.table-filter
  font-family 'Montserrat', Helvetica, sans-serif !important
  background #fafafa
  appearance: none;
  height: 40px
  padding: 10px 38px 10px 16px;
  background: #fff url("select-arrows.svg") no-repeat right 16px center;
  background-size: 10px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 5px;

#my-table
  font-family 'Montserrat', Helvetica, sans-serif !important

  .journo-name
    font-weight bold

  .need-tag
    padding 5px
    border-radius 5px
    background-opacity .8

    &.needs-citations
      background-color lighten(#AE0F24, 20)
      color #fafafa

    &.needs-biography
      background-color $canary
      color #303030

    &.needs-edit
      background-color #ffc4c4

    &.needs-image
      background-color $lilac

    &.complete
      background-color $celery

  .gridjs-summary
    margin-right 10px
    font-size .95em


  .gridjs-pages > *
    font-family 'Montserrat', Helvetica, sans-serif !important
