//=======================
// Base
//=======================
// Add whichever you need or, preferably, just copy the code from those files. Especially the breakpoints and helper variables
// @require 'base/reset'
@require 'base/variables'
@require 'base/helpers'
@require 'base/colors'
// @require 'base/layout'
// @require 'base/unicode'
@require 'base/fonts'

//=======================
// Fonts
//=======================
// See base/fonts for full listing
// If you need set-font, make sure to include the base/fonts file
// Note all projects require Benton Bold and Miller-Regular so don't change em

// Just set these classes in the HTML

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.source-and-credit
  clear both
  width 100%
  overflow hidden
  margin-top 1em

  p
    line-height 1.6
    padding 0
    margin 0
    font-size 12px
    text-align left
    float none

  .source span
    font-weight normal
    +mq('bp-2')
      float left

  .credit span
    text-transform uppercase
    +mq('bp-2')
      text-align right
      float right

.graphic
  &__text
    margin .5rem 0

    &--hed
      font-weight bold
      font-family 'Montserrat', Helvetica, sans-serif
      +mq('bp-2')
        font-size 1.3rem

    &--subhed
      font-size .9rem
      +mq('bp-2')
        font-size 1rem
        margin-bottom 1rem

    // .table__container
    //   font-family Helvetica

.options
  display flex
  flex-wrap nowrap
  font-family 'Montserrat', Helvetica, sans-serif
  margin 1em 0
  align-items center

  &-child
    margin-right .5em

.table-filter
  font-family 'Montserrat', Helvetica, sans-serif !important
  background #fafafa
  appearance: none;
  height: 40px
  padding: 10px 38px 10px 16px;
  background: #fff url("select-arrows.svg") no-repeat right 16px center;
  background-image url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E")
  background-size 10px
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd
  border-radius: 5px

#my-table
  font-family 'Montserrat', Helvetica, sans-serif !important

  .journo-name
    font-weight bold

  .need-tag
    padding 5px
    border-radius 5px
    background-opacity .8

    &.needs-citations
      background-color #F3687B
      // color #fafafa

    &.needs-biography
      background-color $canary
      color #303030

    &.needs-edit
      background-color #ffc4c4

    &.needs-image
      background-color $lilac

    &.complete
      background-color $celery

  .gridjs-search-input
    font-family 'Montserrat', Helvetica, sans-serif !important

  // .gridjs-summary
  //   margin-right 10px
  //   font-size .95em


  .gridjs-pages > *
    font-family 'Montserrat', Helvetica, sans-serif !important
